/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Source+Sans+Pro&display=swap');
/* Changing the main font and background colour */
h1 {
  font-family: 'Playfair Display SC', ;
	color: #7B3F5F;
	font-weight: bold;
}
h2 {font-family: 'Playfair Display SC';
	Color: #7B3F5F;
}
.headlinefont {
	font-family: 'Playfair Display SC', serif;
}
.bodyfont {
	font-family: 'Source Sans Pro', sans-serif;
	color: black
}
.videotext {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
		font-family: 'Playfair Display SC', serif;
    }
.flipcardtext {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px; 
		color: #4D273B;
		font-family: 'Playfair Display SC', serif;
}
.flipcardtextback {
	color: #4f674e;
	font-family: 'Playfair Display SC', serif
}
.my-box {
	border-color: #EFEAE7;
	background-color: rgba(239,234,231,0.6); 	
}
.card-body {
	background-color: rgba(239,234,231,0.6);	
}
.card-footer{
	background-color: rgba(239,234,231,0.6);	
}
/* Changing border-color:
the background colour for the header */
.header {
	background-color: transparent;
}
.the-border {
     border-bottom-color:#7B3F5F
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color:#E5C6CC;
}
.navbar-nav .nav-link {
    color: #7B3F5E;
}
.navbar-nav .nav-link.active {
    color: #4D273B;
}

  body { 
	  background-color: #EFEAE7;
}

.bg-body {
	background-color: #B7CDB7!important; }

/* Effect on social media buttons */

footer :hover {
	color: #7B3F5F;
	opacity: 0.6;
}

/* Corporate navbar */

.navbar-corporate active {
	font-color: #7B3F5F;
	font-weight: bold;
}

.w-200 {
}
.w-400 {
}

   .center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .section {
      margin-bottom: 50px;
    }
.boderinfo {
}
