/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Source+Sans+Pro&display=swap');
/* Changing the main font and background colour */
h1 {
  font-family: 'Playfair Display SC', ;
	color: #7B3F5F;
	font-weight: bold;
}
p { font-family: 'source sans pro';
	color: black}

.headlinefont {
	font-family: 'Playfair Display SC', serif;
}
.bodyfont {
	font-family: 'Source Sans Pro', sans-serif;
}
.my-box {
	border-color: #EFEAE7;
	background-color: rgba(239,234,231,0.6); 
	
}
.card-body {
	background-color: rgba(239,234,231,0.6);	
}
.card-footer{
	background-color: rgba(239,234,231,0.6);	
}
/* Changing border-color:
the background colour for the header */
.header {
	background-color: transparent;
}
.the-border {
     border-bottom-color:#7B3F5F
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #b8d8c8;
}

/* Effect on social media buttons */

footer :hover {
	color: #7B3F5F;
	opacity: 1;
}

/* Corporate navbar */

.navbar-corporate active {
	font-color: #7B3F5F;
	font-weight: bold;
}

.w-200 {
}
.w-400 {
}

   .center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .section {
      margin-bottom: 50px;
    }
