/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Source+Sans+Pro&display=swap');
/* Changing the main font and background colour */
h1 {
  font-family: 'Playfair Display', serif;
	color: #7B3F5F;
	font-weight: bold;
}
body {
	
	background-color: #EFEAE7;
}
.headlinefont {
	font-family: 'Playfair Display SC', serif;
}
.bodyfont {
	font-family: 'Source Sans Pro', sans-serif;
}
	
/* Changing the background colour for the header */

header {
	background-color: #EFEAE7;
}


/* Changing the background color for the navigation bar */

.navbar {
	background-color: #b8d8c8;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #7B3F5F;
	font-weight: bold;
}

